﻿@{
    ViewBag.Title = "SMC";
}
@using Inspinia_MVC5.Models
@model VmViewModel



<div class="row">
    <div class="col-lg-8">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                @foreach (var item in Model.Products)
                {
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-content product-box">
                                <div class="product-imitation">
                                    [ INFO ]
                                </div>
                                <div class="product-desc">
                                    <span class="product-price">
                                        @item.Cost руб.
                                    </span>
                                    <small class="text-muted"></small>
                                    <a href="#" class="product-name">@item.Name</a>
                                    <div class="small m-t-xs">
                                        осталось @item.InStock порций
                                    </div>
                                    <div class="m-t text-righ">
                                        <a class="btn btn-xs btn-outline btn-primary buy-product" id="@item.Id" cost="@item.Cost" inStock="@item.InStock">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Деньги</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <h6>Банк автомата</h6>
                    @foreach (var item in Model.VmMoney.OrderByDescending(p => p.CoinType.Value))
                    {
                        <div class="col-xs-3">
                            <h6>@item.CoinType.Value руб.</h6>
                            <small class="stats-label">@item.Count штук</small>
                        </div>
                    }
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <h6>Деньги клиента</h6>
                    @foreach (var item in Model.CustomerMoney.OrderByDescending(p => p.CoinType.Value))
                    {
                        <div class="col-xs-3">
                            <h6>@item.CoinType.Value руб.</h6>
                            <small class="stats-label">@item.Count штук</small>
                            @if (item.Count > 0)
                            {
                                <div class="m-t text-righ">
                                    <a href="#" class="btn btn-xs btn-outline btn-primary add-coin" id="@item.CoinTypeId">Добавить</a>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <h6>Управление</h6>
                    <div class="col-xs-6">
                        <h4>Баланс: <b id="balance">@Model.currentBalance</b> руб.</h4>
                    </div>
                    <div class="col-xs-6">              
                            <a href="#" id="GetChange" class="btn btn-sm btn-outline btn-primary">Получить сдачу</a>                    
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/chartJs")
    @Scripts.Render("~/plugins/peity")
@Scripts.Render("~/plugins/sweetAlert")


<script>

   
    $(document).ready(function () {

        // buy stuff
        $(".buy-product").click(function () {
            var balance = parseInt($("#balance").html());
            var cost = parseInt($(this).attr("cost"));
            var inStock = parseInt($(this).attr("instock"));
            var productId = $(this).attr("id");
            if (inStock > 0 && cost <= balance)
            {
                $.ajax({
                    type: "POST",
                    url: "/SMC/BuyProduct",
                    data: 'id= ' + productId,
                    success: function (msg) {
                        if (msg == "Пополните баланс, не хватает средств") {
                            swal("Ошибка", msg, "error");
                        }
                        else if (msg == "Вы успешно купили продукт")
                        {
                            swal("", msg, "success");
                            setTimeout(function f() { location.reload() }, 1500);
                        }
                        else if(msg == "В автомате нет необходимых монет")
                        {
                            swal("Ошибка", msg, "error");
                        }
                    }
                });
            }
            else if (inStock <= 0)
            {
                swal("Ошибка", "Товара нет в наличии", "error");
            }
            else if(cost >= balance)
            {
                swal("Ошибка", "Пополните баланс", "error");
            }
        });

        //add coin
        $(".add-coin").click(function () {   
            var coinTypeId = $(this).attr("id");
            $.ajax({
                type: "POST",
                url: "/SMC/AddCoin",
                data: 'id= ' + coinTypeId,
                success: function (msg) {
                    swal(msg);
                    setTimeout(function f() { location.reload() }, 1500);
                }
            });

        });



        // GetChange

        $("#GetChange").click(function () {
            var coinTypeId = $(this).attr("id");
            $.ajax({
                type: "POST",
                url: "/SMC/GetChange",
                success: function (msg) {
                    swal(msg);
                    setTimeout(function f() { location.reload() }, 1500);
                }
            });

        });

    });
</script>

}