﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">        
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
        </ul>
    </div>
</nav>